<table class="table-bordered">
  <tr>
    <th>Rider</th>
    <th>Driver</th>
    <th>Pickup Address</th>
    <th>Dropoff Address</th>
    <th>Requested</th>
    <th>Accepted</th>
    <th>Picked Up</th>
    <th>Dropped Off</th>
    <th>Cost</th>
  </tr>
  <% current_user.rides.completed_rides.each do |ride| %>
    <tr>
      <td><%= ride.rider.name %></td>
      <td><%= ride.driver.name %></td>
      <td><%= ride.pickup_address %></td>
      <td><%= ride.dropoff_address %></td>
      <td><%= ride.created_at %></td>
      <td><%= ride.accepted_time %></td>
      <td><%= ride.pickup_time %></td>
      <td><%= ride.dropoff_time %></td>
      <td><%= number_to_currency ride.cost %></td>
    </tr>
  <% end %>
</table>
