<%= form_for(User.new) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name,  :placeholder => "name"%><br>

  <%= f.label :email %>
  <%= f.text_field :email,  :placeholder => "email"%><br>

  <%= f.label :phone_number %>
  <%= f.text_field :phone_number,  :placeholder => "phone"%><br>

  <%= f.label :password %>
  <%= f.password_field :password,  :placeholder => "password"%><br>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation,  :placeholder => "confirm password"%><br>

  <%= f.label :car_make %>
  <%= f.text_field :car_make,  :placeholder => "car make"%><br>

  <%= f.label :car_model %>
  <%= f.text_field :car_model,  :placeholder => "car model"%><br>

  <%= f.label :car_capacity %>
  <%= f.text_field :car_capacity,  :placeholder => "car capacity(as a number)"%><br>

  <p class= "center"><%= f.submit "Register", class:"button" %></p>
<% end %>
